/*login_page.html*/
#bg-img{
  
  filter: grayscale(100%);
  width: 100%;

}
 
*{
  margin: 0;
  padding: 0;
}

#navbar{
  width: 100%;
  height: 100vh;
  background-image: url(https://github.com/anugraha-10/Software-Engineering-Project/blob/main/login_bg_new.jpg?raw=true);
  background-position: center;
  background-size:initial;
  background-repeat: no-repeat;
}

nav{
  width: 100%;
  height: 70px;
  background-color: rgba(33, 1, 121, 0.877);
  line-height: 60px;
  font-size: medium;
}

nav ul{
  float: right;
  margin-right: 50px;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
}

.nav-link:hover{
  background-color: rgba(14, 13, 13, 0.533);
  color: rgb(223, 208, 0);
}

.nav-link{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 30px;
}

#left-side{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-right: 940px;
  font-family: 'Pacifico', cursive;
  font-family: 'Sedgwick Ave', cursive;
  font-size: larger;
}

button {
  background-color: #0001;
  border: none;
}

 /* Dropdown Button */
 .dropbtn {
  background-color: rgba(33, 1, 121, 0.877);
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(14, 13, 13, 0.533);
  color: rgb(223, 208, 0);
} 

